@* @using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Commons.Helpers
@using SWSA.MvcPortal.Entities.WorkAssignments
@using SWSA.MvcPortal.Services.Interfaces
@using SWSA.MvcPortal.Services.Interfaces.Auths
@model AuditWorkAssignment
@inject IUserContext UserContext

@{
	ViewData["Title"] = "Audit Work Details";
	var cpInfo = Model.Company;

	<input id="workAssignmentId" value="@Model.Id" type="hidden" />
	<input id="companyId" value="@cpInfo.Id" type="hidden" />
}

<h3>Update Audit Submission for @cpInfo.Name (@cpInfo.RegistrationNumber)</h3>

<div class="row">
	@await Component.InvokeAsync("CompanyInfo", new { input = cpInfo })

	<div class="col-md-12">
		<form id="submissionForm">
			<div class="card card-primary">
				<div class="card-header">
					<a href="#">
						<h3 class="card-title">
							Submission Info
						</h3>
					</a>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>

				<!-- /.card-header -->
				<!-- form start -->
				<div class="card-body row">

					<div class="col-md-6">
						<div class="form-group">
							<label for="firstYearAccountStart">First Year Account Start Date
								<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Default: Estimate 17 months from incorporation date"></i>

							</label>
							<div class="input-group">
								<input  type="text" id="firstYearAccountStart" value="@Model.FirstYearAccountStart?.ToFormattedString()" name="firstYearAccountStart" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="targetedCirculation">
								Targeted Circulation (Month/Year)
								<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Default: Estimate 7 months from Year End"></i>
							</label>
							<div class="input-group">
								<input type="text" id="targetedCirculation" value="@Model.TargetedCirculation?.ToFormattedString()" name="targetedCirculation" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="accDueDate">Account Due Date</label>
							<div class="input-group">
								<input type="text" id="accDueDate" value="@Model.AccDueDate?.ToFormattedString()" name="accDueDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="dateSubmitted">Date Submitted</label>
							<div class="input-group">
								<input type="text" id="dateSubmitted" value="@Model.DateSubmitted?.ToFormattedString()" name="dateSubmitted" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="isLateLabel">On Time /Late</label>
							<input readonly id="isLateLabel" value="@Model.GetIsLateDisplyLabel()" class="form-control " />
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="reasonForLate">Reason For Late</label>
							<input id="reasonForLate" value="@Model.ReasonForLate" name="reasonForLate" class="form-control " />
						</div>
					</div>
				</div>
				<div class="card-footer ">
					<button id="btnSubmitRequest" class="btn btn-primary float-end">Save</button>
				</div>

			</div>
		</form>
		<!-- /.card -->
	</div>

@* 	@await Component.InvokeAsync("EditDocument", new { input = Model.Documents })*@
@*</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_DatatablesScriptsPartial" />

	<script src="~/js/company-works/edit-audit-report-work.js" asp-append-version="true"></script>
	<script src="~/js/company-works/edit-work-document.js" asp-append-version="true"></script>
	<!-- date-range-picker -->
    }
 *@