@using Newtonsoft.Json
@using SWSA.MvcPortal.Commons.Constants
@using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Commons.Helpers
@using SWSA.MvcPortal.Models.CompnayWorks
@using SWSA.MvcPortal.Models.Users
@model CompanyWorkAssignmentCreatePageVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cp = Model.Company;

    var workTypes = SelectHelper.GetEnumSelectList<WorkType>(null!);
    var serviceScopes = SelectHelper.GetEnumSelectList<ServiceScope>(null!);
    var companyActivityLevels = SelectHelper.GetEnumSelectList<CompanyActivityLevel>(null!);
    var staffSelections = cp.CompanyStaffs;

    var currentYear = DateTime.Now.Year;
    var startYear = currentYear - 10;
    var endYear = currentYear + 20;

    <input type="hidden" id="companyId" value="@cp.Id" />
}

<h3>Create Task for @cp.Name (@cp.RegistrationNumber)</h3>
<div class="row">
    <div class="col-md-12">
        <form>
            <!-- jquery validation -->
            <div class="card card-primary">
                <div class="card-header">
                    <a href="/companies/@cp.Id/overview">
                        <h3 class="card-title">
                            Company Info

                        </h3>
                    </a>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyName">Company</label>
                            <input readonly value="@($"{cp.Name} ({cp.RegistrationNumber})")" class="form-control " placeholder="xxx sdn.bhd." />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="incorpDate">Incorporation Date</label>
                            <div class="input-group">
                                <input disabled type="text" value="@cp.IncorporationDate?.ToString("yyyy-MM-dd")" id="incorpDate" name="incorpDate" class="form-control" placeholder="Select date" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyType">Company Type</label>
                            <input readonly id="companyType" value="@cp.CompanyType.GetDisplayName()" class="form-control " />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyStatus">Company Status</label>
                            <input readonly id="companyStatus" value="@cp.Status" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <!-- /.card -->
    </div>

    <div class="col-md-12">
        <!-- jquery validation -->
        <form id="taskForm">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Task / Work</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="workType">Work Type</label>
                                <select asp-items="workTypes" id="flowType" name="workType" class="form-control select2">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="serviceScope">Services Offer</label>
                                <select asp-items="serviceScopes" id="serviceScope" name="serviceScope" class="form-control select2">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyActivityLevel">Company Activity Level</label>
                                <select asp-items="companyActivityLevels" id="companyActivityLevel" name="companyActivityLevel" class="form-control select2">
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dueDate">Due Date
                                    <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="The deadline of the task, will apply the date month and year for the month to do and year to do"></i>
                                </label>
                                <div class="input-group">
                                    <input type="text" id="dueDate" name="dueDate" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Handled By Staff -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="handledByStaffId">Handled By</label>
                                <select id="handledByStaffId" name="handledByStaffId" class="form-control select2 ">
                                    @if (staffSelections.Count == 0)
                                    {
                                        <option disabled value="">No staff available in company</option>
                                    }
                                    else
                                    {
                                        <option disabled value="">Please select</option>
                                    }
                                    @foreach (var staff in staffSelections)
                                    {
                                        <option value="@staff.StaffId">@staff.ContactName (@staff.Position)</option>
                                    })

                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="internalNote">Internal Note</label>
                                <input type="text" id="internalNote" name="internalNote" class="form-control" placeholder="(Optional)" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer ">
                    <button id="btnSubmitRequest" class="btn btn-primary float-end">Submit</button>
                </div>

                <!-- /.card -->
            </div>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DatatablesScriptsPartial" />

    <script src="~/js/companies/create-work.js" asp-append-version="true"></script>
    <!-- date-range-picker -->
    }
