@using Newtonsoft.Json
@using SWSA.MvcPortal.Commons.Constants
@using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Commons.Helpers
@using SWSA.MvcPortal.Models.CompnayWorks
@using SWSA.MvcPortal.Models.Users
@using SWSA.MvcPortal.Services
@using SWSA.MvcPortal.Services.Interfaces
@model CompanyWorkAssignmentCreatePageVM
@inject IUserContext UserContext
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var cp = Model.Company;

	var workTypes = SelectHelper.GetEnumSelectList<WorkType>(null!);
	var serviceScopes = SelectHelper.GetEnumSelectList<ServiceScope>(null!);

	var isYearEndToDo = SelectHelper.GetYesNoSelection(null!);
	var currentYear = DateTime.Now.Year;
	var startYear = currentYear - 10;
	var endYear = currentYear + 20;

	<input type="hidden" id="companyId" value="@cp.Id" />
}

<h3>Create Task for @cp.Name (@cp.RegistrationNumber)</h3>
<div class="row">
	<div class="col-md-12">
		<form>
			<!-- jquery validation -->
			<div class="card card-primary">
				<div class="card-header">
					<a href="/companies/@cp.Id/overview">
						<h3 class="card-title">
							Company Info

						</h3>
					</a>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>

				<!-- /.card-header -->
				<!-- form start -->
				<div class="card-body row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="companyName">Company</label>
							<input readonly value="@($"{cp.Name} ({cp.RegistrationNumber})")" class="form-control " placeholder="xxx sdn.bhd." />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="incorpDate">Incorporation Date</label>
							<div class="input-group">
								<input disabled type="text" value="@cp.IncorporationDate?.ToString("yyyy-MM-dd")" id="incorpDate" name="incorpDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="companyType">Company Type</label>
							<input readonly id="companyType" value="@cp.CompanyType.GetDisplayName()" class="form-control " />
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="yearEndMonth">Year End Month</label>
							<div class="input-group">
								<input readonly type="text" id="yearEndMonth" value="@cp.YearEndMonth?.GetDisplayNameAndNumber()" name="yearEndMonth" class="form-control" placeholder="Select month" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</form>
		<!-- /.card -->
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<div class="card card-secondary">
			<div class="card-header">
				<h3 class="card-title">Task / Work</h3>
			</div>
			<!-- /.card-header -->
			<!-- form start -->

			<div class="card-body">
				<form id="taskForm">
					<div class="row">
						<div class="form-info-label col-12">
							<label>Work Allocation Info</label>
						</div>


						<div class="col-md-6">
							<div class="form-group">
								<label for="workType">Work Type</label>
								<select asp-items="workTypes" id="workType" name="workType" class="form-control select2">
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="isYearEndTask">Year End To Do</label>
								<select asp-items="isYearEndToDo" id="isYearEndTask" name="isYearEndTask" class="form-control select2">
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="serviceScope">Services Offer</label>
								<select asp-items="serviceScopes" id="serviceScope" name="serviceScope" class="form-control select2">
								</select>
							</div>
						</div>



						<div class="col-md-6">
							<div class="form-group">
								<label for="internalNote">Internal Note</label>
								<input type="text" id="internalNote" name="internalNote" class="form-control" placeholder="(Optional)" />
							</div>
						</div>

						@* 		<div class="form-info-label col-12">
							<label>SSM AR Due dates
								<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Default auto calculate from company compliance date"></i>

							</label>
						</div>
 *@

					</div>
				</form>
				<div class="divider-line"></div>

				<form id="workUserForm">
					<div class="row">

						<div class="form-info-label col-12">
							<label>
								Assign User
								<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Select month and assign user to handle"></i>
							</label>
						</div>


						<table id="auditUserTable" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>User</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@if (!UserContext.IsSuperAdmin)
								{
									<tr>
										<td data-staff-id="@UserContext.StaffId">
											@UserContext.Name (@UserContext.Role.GetDisplayName())
										</td>

										<td>
											<button type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="top" title="Only super admin can remove"><i class="fa fa-trash"></i></button>
										</td>
									</tr>
								}
							</tbody>
						</table>

						@if (UserContext.IsSuperAdmin)
						{
							<div class="divider-line"></div>

							<div class="row">

								<div class="col-md-6">
									<div class="form-group">
										<label for="workUserStaffId">
											User
											<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="The system user assigned to handle this work."></i>
										</label>
										<select id="workUserStaffId" name="staffId" class="form-control select2 ">
											@if (Model.UserSelections.Count == 0)
											{
												<option disabled value="">No user are handling audit of this company</option>
											}
											else
											{
												<option value="">Please select</option>
											}

											@foreach (var user in Model.UserSelections)
											{
												<option value="@user.StaffId">@user.FullName (@user.Role.GetDisplayName())</option>
											})

										</select>
									</div>
								</div>
							</div>

							<div class="col-md-12">

								<button type="submit" class="btn btn-primary float-end">Add</button>

							</div>
						}
					</div>
				</form>
			</div>
		</div>
		<!-- /.card-body -->
		<!-- /.card -->
	</div>

	<div class="col-md-12">
		<!-- /.card-body -->
		<div class="float-end">
			<button id="btnSubmitRequest" class="btn btn-primary">Submit</button>
		</div>
	</div>



</div>




@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_DatatablesScriptsPartial" />

	<script src="~/js/companies/create-work.js" asp-append-version="true"></script>
	<!-- date-range-picker -->
    }
