@using Newtonsoft.Json
@using SWSA.MvcPortal.Commons.Constants
@using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Commons.Helpers
@using SWSA.MvcPortal.Models.CompnayWorks
@using SWSA.MvcPortal.Models.Users
@using SWSA.MvcPortal.Services.Interfaces
@model CompanyWorkAssignmentkEditPageVM
@inject IUserContext UserContext
@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var workVM = Model.CompanyWork;

	var cp = Model.Company;
	var progress = workVM.Progress;

	var workTypes = SelectHelper.GetEnumSelectList<WorkType>(workVM.WorkType);
	var serviceScopes = SelectHelper.GetEnumSelectList<ServiceScope>(workVM.ServiceScope);
	var companyActivityLevels = SelectHelper.GetEnumSelectList<CompanyActivityLevel>(workVM.ActivitySize);
	var workProgressStatus = SelectHelper.GetEnumSelectList<WorkProgressStatus>(progress.Status);
	var companyStatus = SelectHelper.GetEnumSelectList<CompanyStatus>(workVM.CompanyStatus);

	var isYearEndToDo = SelectHelper.GetYesNoSelection(workVM.IsYearEndTask);

	var monthOfYear = SelectHelper.GetEnumSelectList<MonthOfYear>(0);

	var currentYear = DateTime.Now.Year;
	var startYear = currentYear - 10;
	var endYear = currentYear + 20;

	<input type="hidden" id="taskId" value="@workVM.TaskId" />
	<input type="hidden" id="progressId" value="@progress.ProgressId" />
	<input type="hidden" id="isSuperAdmin" value="@UserContext.IsSuperAdmin.ToString()" />
}

<h3>Edit Task for @cp.Name (@cp.RegistrationNumber)</h3>
<div class="row">
	<div class="col-md-12">
		<form>
			<!-- jquery validation -->
			<div class="card card-primary">
				<div class="card-header">
					<a href="/companies/@cp.CompanyId/overview">
						<h3 class="card-title">
							Company Info

						</h3>
					</a>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>

				<!-- /.card-header -->
				<!-- form start -->
				<div class="card-body row">
					<div class="col-md-6">
						<div class="form-group">
							<label for="companyName">Company</label>
							<input readonly value="@($"{cp.Name} ({cp.RegistrationNumber})")" class="form-control " placeholder="xxx sdn.bhd." />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="incorpDate">Incorporation Date</label>
							<div class="input-group">
								<input disabled type="text" value="@cp.IncorporationDate.ToFormattedString()" id="incorpDate" name="incorpDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="companyType">Company Type</label>
							<input readonly id="companyType" value="@cp.CompanyType.GetDisplayName()" class="form-control " />
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="yearEndMonth">Year End Month</label>
							<div class="input-group">
								<input readonly type="text" id="yearEndMonth" value="@cp.YearEndMonth?.GetDisplayNameAndNumber()" name="yearEndMonth" class="form-control" placeholder="Select month" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</form>
		<!-- /.card -->
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<form id="taskForm">
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Task / Work</h3>
				</div>
				<!-- /.card-header -->
				<!-- form start -->

				<div class="card-body">
					<div class="form-info-label col-12">
						<label>Work Allocation Info</label>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="companyStatus">Company Status</label>
								<select asp-items="companyStatus" id="companyStatus" name="companyStatus" class="form-control select2">
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="workType">Work Type</label>
								<select id="workType" name="workType" class="form-control select2">
									@Html.RenderOptions(workTypes)
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="isYearEndTask">Year End To Do</label>
								<select asp-items="isYearEndToDo" id="isYearEndTask" name="isYearEndTask" class="form-control select2">
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="serviceScope">Services Offer</label>
								<select id="serviceScope" name="serviceScope" class="form-control select2">
									@Html.RenderOptions(serviceScopes)
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="companyActivityLevel">Company Activity Level</label>
								<select id="companyActivityLevel" name="companyActivityLevel" class="form-control select2">
									@Html.RenderOptions(companyActivityLevels)
								</select>
							</div>
						</div>


						<div class="col-md-6">
							<div class="form-group">
								<label for="internalNote">Internal Note</label>
								<input type="text" id="internalNote" value="@workVM.InternalNote" name="internalNote" class="form-control" placeholder="(Optional)" />
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="monthToDo">
									Month To Do
								</label>
								<select id="monthToDo" name="months" class="form-control select2" multiple="multiple" style="max-width:95%">
									@foreach (var month in monthOfYear)
									{
										var isSelected = workVM.PlannedMonths.Any(c => c.ToString() == month.Value);
										<option value="@month.Value" selected="@(isSelected ? "selected" : null)">
											@month.Text
										</option>
									}
								</select>
							</div>
						</div>
	
					</div>
				</div>
				<!-- /.card-body -->
				<div class="card-footer ">
					<button id="btnSubmitRequest" class="btn btn-primary float-end">Save</button>
				</div>

				<!-- /.card -->
			</div>
		</form>
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<form id="workUserForm">
			<div class="card card-warning collapsed-card">
				<div class="card-header">
					<h3 class="card-title">Assigned User</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
				<!-- /.card-header -->
				<!-- form start -->

				<div class="card-body" style="display:none">
					<div class="row">

						<table id="auditUserTable" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>User</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@{
									@foreach (var user in workVM.AssignedUsers)
									{
										<tr data-staff-id="@user.StaffId">
											<td>
												@user.StaffName (@user.Role.GetDisplayName()) @(UserContext.StaffId == user.StaffId ? "(You)" : "")
											</td>

											<td>

												<button type="button"
														class="@(UserContext.IsSuperAdmin?"btn-delete-user":"")  btn btn-sm btn-danger"
														data-bs-toggle="tooltip"
														data-bs-placement="top"
														value="@user.StaffId"
														data-department="Audit"
														data-name="@user.StaffName"
														title="Only super admin can remove">
													<i class="fa fa-trash"></i>
												</button>
											</td>
										</tr>
									}
								}
							</tbody>
						</table>

						@if (UserContext.IsSuperAdmin)
						{
							<div class="divider-line"></div>

							<div class="row">

								<div class="col-md-6">
									<div class="form-group">
										<label for="workUserStaffId">
											User
											<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="The system user assigned to handle this audit work."></i>
										</label>
										<select id="workUserStaffId" name="staffId" class="form-control select2 ">
											@if (Model.UserSelections.Count == 0)
											{
												<option disabled value="">No user are handling audit of this company</option>
											}
											else
											{
												<option value="">Please select</option>
											}

											@foreach (var user in Model.UserSelections)
											{
												var isSelected = workVM.AssignedUsers.Any(c => c.StaffId == user.StaffId);
												if (isSelected)
												{
													<option value="@user.StaffId" disabled>@user.FullName (@user.Role.GetDisplayName())</option>
												}
												else
												{
													<option value="@user.StaffId">@user.FullName (@user.Role.GetDisplayName())</option>
												}
											}

										</select>
									</div>
								</div>
							</div>
						}
					</div>
				</div>
				@if (UserContext.IsSuperAdmin)
				{
					<!-- /.card-body -->
					<div class="card-footer ">
						<button id="btnSubmitRequest" class="btn btn-primary float-end">Add</button>
					</div>
				}
				<!-- /.card -->
			</div>
		</form>
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<form id="progressForm">
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Progress</h3>
				</div>
				<!-- /.card-header -->
				<!-- form start -->

				<div class="card-body">

					<div class="row">

						<div class="col-md-5">
							<div class="form-group">
								<label for="startDate">Task Start At</label>
								<div class="input-group">
									<input type="text" id="startDate" value="@progress.StartDate.ToFormattedString()" name="startDate" class="form-control" placeholder="Select date" />
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-5">
							<div class="form-group">
								<label for="endDate">Task End At</label>
								<div class="input-group">
									<input type="text" id="endDate" value="@progress.EndDate.ToFormattedString()" name="endDate" class="form-control" placeholder="Select date" />
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-2">
							<div class="form-group">
								<label for="timeTakenInDays">
									Used Day
									<i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="The total number of days includes the start date."></i>
								</label>
								<input type="text" readonly id="timeTakenInDays" value="@progress.TimeTakenInDays" name="timeTakenInDays" class="form-control" placeholder="(Auto calc)" />

							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="serviceScope">Progress Status</label>
								<select asp-items="workProgressStatus" id="status" name="status" class="form-control select2">
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="progressNote">Progress Note</label>
								<input type="text" id="progressNote" value="@progress.ProgressNote" name="progressNote" class="form-control" placeholder="(Optional)" />
							</div>
						</div>
					</div>
				</div>
				<!-- /.card-body -->
				<div class="card-footer ">
					<button id="btnSubmitRequest" class="btn btn-primary float-end">Save</button>
				</div>

				<!-- /.card -->
			</div>
		</form>
	</div>

</div>



@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_DatatablesScriptsPartial" />

	<script src="~/js/companies/edit-work.js" asp-append-version="true"></script>
	<!-- date-range-picker -->
    }
