@using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Commons.Helpers
@using SWSA.MvcPortal.Entities.WorkAssignments
@using SWSA.MvcPortal.Services.Interfaces
@using SWSA.MvcPortal.Services.Interfaces.Auths
@model LLPWorkAssignment
@inject IUserContext UserContext

@{
	ViewData["Title"] = "LLP Details";
	var cpInfo = Model.Client;

	<input id="workAssignmentId" value="@Model.Id" type="hidden" />
	<input id="companyId" value="@cpInfo.Id" type="hidden" />
}

<h3>Update LLP Submission for @cpInfo.Name </h3>

<div class="row">

	@await Component.InvokeAsync("CompanyInfo", new { input = cpInfo })

	<div class="col-md-12">
		<form id="submissionForm">
			<div class="card card-primary">
				<div class="card-header">
					<a href="#">
						<h3 class="card-title">
							Submission Info
						</h3>
					</a>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>

				<!-- /.card-header -->
				<!-- form start -->
				<div class="card-body row">

					<div class="col-md-6">
						<div class="form-group">
							<label for="ssmExtensionDateForAcc">
								Ssm Extension Date For Account
							</label>
							<div class="input-group">
								<input type="text" id="ssmExtensionDateForAcc" value="@Model.SSMExtensionDateForAcc?.ToFormattedString()" name="ssmExtensionDateForAcc" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="arDueDate">
								Annual Return Due Date
							</label>
							<div class="input-group">
								<input type="text" id="arDueDate" value="@Model.ARDueDate?.ToFormattedString()" name="arDueDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="accountSubmitDate">Account Submit Date</label>
							<div class="input-group">
								<input type="text" id="accountSubmitDate" value="@Model.AccountSubmitDate?.ToFormattedString()" name="accountSubmitDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="arSubmitDate">Annual Rerturn Submit Date</label>
							<div class="input-group">
								<input type="text" id="arSubmitDate" value="@Model.ARSubmitDate?.ToFormattedString()" name="arSubmitDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="dateSentToClient">Date send to client</label>
							<div class="input-group">
								<input type="text" id="dateSentToClient" value="@Model.DateSentToClient?.ToFormattedString()" name="dateSentToClient" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>


					<div class="col-md-6">
						<div class="form-group">
							<label for="dateReturnedByClient">Date return by client</label>
							<div class="input-group">
								<input type="text" id="dateReturnedByClient" value="@Model.DateReturnedByClient?.ToFormattedString()" name="dateReturnedByClient" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer ">
					<button id="btnSubmitRequest" class="btn btn-primary float-end">Save</button>
				</div>

			</div>
		</form>
		<!-- /.card -->
	</div>

	@* @await Component.InvokeAsync("EditDocument", new { input = Model.Documents }) *@

</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_DatatablesScriptsPartial" />

	<script src="~/js/company-works/edit-llp-work.js" asp-append-version="true"></script>
	<script src="~/js/company-works/edit-work-document.js" asp-append-version="true"></script>

	<!-- date-range-picker -->
    }
