@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Entities.WorkAssignments
@using SWSA.MvcPortal.Services.Interfaces.Auths
@model StrikeOffWorkAssignment
@inject IUserContext UserContext
@{
	ViewData["Title"] = "Strike Off Details";
	var cpInfo = Model.Client;

	<input id="workAssignmentId" value="@Model.Id" type="hidden" />
	<input id="companyId" value="@cpInfo.Id" type="hidden" />
}

<h3>Update Strike Off Work for @cpInfo.Name </h3>

<div class="row">
	@await Component.InvokeAsync("CompanyInfo", new { input = cpInfo })

	<div class="col-md-12">
		<form id="submissionForm">
			<div class="card card-secondary">
				<div class="card-header">
					<a href="#">
						<h3 class="card-title">
							Work Details
						</h3>
					</a>
					<div class="card-tools">
						<a href="/companies/works/@Model.Id/edit" class="btn btn-success">
							Back to task
						</a>

						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>

				<!-- /.card-header -->
				<!-- form start -->
				<div class="card-body row">

					<div class="col-md-6">
						<div class="form-group">
							<label for="startDate">Start Date</label>
							<div class="input-group">
								<input disabled type="text" id="startDate" value="@Model.StartDate?.ToFormattedString()" name="startDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="completeDate">Complete Date</label>
							<div class="input-group">
								<input type="text" id="completeDate" value="@Model.CompleteDate?.ToFormattedString()" name="completeDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="form-group">
							<label for="ssmSubmissionDate">SSM Submission Date</label>
							<div class="input-group">
								<input type="text" id="ssmSubmissionDate" value="@Model.SSMSubmissionDate?.ToFormattedString()" name="ssmSubmissionDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="irbSubmissionDate">IRB Submission Date</label>
							<div class="input-group">
								<input type="text" id="irbSubmissionDate" value="@Model.IRBSubmissionDate?.ToFormattedString()" name="irbSubmissionDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="ssmStrikeOffDate">SSM StrikeOff Date</label>
							<div class="input-group">
								<input type="text" id="ssmStrikeOffDate" value="@Model.SSMStrikeOffDate?.ToFormattedString()" name="ssmStrikeOffDate" class="form-control" placeholder="Select date" />
								<div class="input-group-append">
									<span class="input-group-text">
										<i class="fa fa-calendar"></i>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer ">
					<button id="btnSubmitRequest" class="btn btn-primary float-end">Save</button>
				</div>

			</div>
		</form>
		<!-- /.card -->
	</div>

	@* @await Component.InvokeAsync("EditDocument", new { input = Model.Documents }) *@
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_DatatablesScriptsPartial" />

	<script src="~/js/company-works/edit-strike-off-work.js" asp-append-version="true"></script>
	<script src="~/js/company-works/edit-work-document.js" asp-append-version="true"></script>
	<!-- date-range-picker -->
    }

