@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Entities.SecretaryDept
@model List<SecStrikeOffTemplate>

@{
    ViewData["Title"] = "Strike Off Template";
}

<h3>Strike Off (Sec Dept)</h3>

<div class="row">
    <div class="col-md-12">
        <!-- /.card -->
        <div class="card">

            <div class="card-header">
                <h3 class="card-title">
                    <i class="fas fa-tasks me-2"></i>
                </h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#taskModal">
                        <i class="fas fa-plus me-2"></i>New Task
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="overflow:auto">
                <table id="taskDatatable" class="table table-bordered table-striped table-responsive">
                    <thead>
                        <tr>
                            <th rowspan="3">Ref</th>
                            <th rowspan="3">Company Name</th>
                            <th rowspan="3">Company No</th>
                            <th rowspan="3">Incorp Date</th>
                            <th rowspan="3">Year End</th>

                            <th colspan="14">Sec Dept</th>
                        </tr>
                        <tr>
                            <th rowspan="2">Start Date</th>
                            <th rowspan="2">Complete Date</th>

                            <th colspan="2">Management Account</th>
                            <th colspan="4">SSM Penalties</th>

                            <th rowspan="2">S/Off Doc send to client</th>
                            <th rowspan="2">SSM Submission Date</th>

                            <th colspan="2">SSM Status</th>

                        </tr>
                        <tr>

                            <th>Done By</th>
                            <th>Complete Date</th>

                            <th>Penalties RM</th>
                            <th>Revised Penalties RM</th>
                            <th>Appeal date</th>
                            <th>Payment date</th>

                            <th>Remarks</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var data in Model)
                            {
                                <tr>
                                    <td>@data.Client.Referral</td>
                                    <td>@data.Client.Name</td>
                                    <td>@data.Client.RegistrationNumber</td>
                                    <td>@data.Client.IncorporationDate.ToFormattedString()</td>
                                    <td>@data.Client.YearEndMonth?.GetDisplayName()</td>

                                    <td>@data.StartDate.ToFormattedString()</td>
                                    <td>@data.CompleteDate.ToFormattedString()</td>

                                    <td>@data.DoneBy?.FullName</td>
                                    <td>@data.CompleteDate.ToFormattedString()</td>

                                    <td>@data.PenaltiesAmount</td>
                                    <td>@data.RevisedPenaltiesAmount</td>
                                    <td>@data.SSMPenaltiesAppealDate.ToFormattedString()</td>
                                    <td>@data.SSMPenaltiesPaymentDate.ToFormattedString()</td>

                                    <td>@data.SSMDocSentDate.ToFormattedString()</td>
                                    <td>@data.SSMSubmissionDate.ToFormattedString()</td>
                                    <td>@data.Remarks</td>
                                    <td>

                                        <button class="btn btn-sm btn-primary edit-task" data-id="@data.Id">Edit</button>
                                        <button class="btn btn-sm btn-danger delete-task" data-id="@data.Id">Delete</button>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="taskModalLabel">
                    <i class="fas fa-edit me-2"></i>
                    <span id="modalTitle">Add New Record</span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="taskForm">
                    <input type="hidden" id="editIndex" value="">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="clientSelect">Client</label>
                                <select id="clientSelect" name="clientSelect" class="form-control select2" required>
                                    <option selected disabled value="">Please select client</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyNo">Company No</label>
                                <input id="companyNo" name="companyNo" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="incorpDate">Incorp Date</label>
                                <div class="input-group">
                                    <input type="text" disabled id="incorpDate" name="incorpDate" class="form-control" placeholder="Select date" readonly />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="yearEndDate">Year End</label>
                                <div class="input-group">
                                    <input type="text" disabled id="yearEndDate" name="yearEndDate" class="form-control" placeholder="Select date" readonly />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-info-label col-12">
                        <label>Date </label>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="startDate">Start Date</label>
                                <div class="input-group">
                                    <input type="text" id="startDate" name="startDate" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="completeDate">Complete Date</label>
                                <div class="input-group">
                                    <input type="text" id="completeDate" name="completeDate" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="doneByUserId">Done By</label>
                                <select id="doneByUserId" name="doneByUserId" class="form-control select2" >
                                    <option selected disabled value="">Please select user</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-info-label col-12">
                        <label>SSM penalties</label>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="penaltiesAmount">Penalties Amount</label>
                                <input id="penaltiesAmount" name="penaltiesAmount" class="form-control" type="number" step="0.01" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="revisedPenaltiesAmount">Revised Penalties Amount</label>
                                <input id="revisedPenaltiesAmount" name="revisedPenaltiesAmount" class="form-control" type="number" step="0.01" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ssmPenaltiesAppealDate">SSM Penalties Appeal Date</label>
                                <div class="input-group">
                                    <input type="text" id="ssmPenaltiesAppealDate" name="ssmPenaltiesAppealDate" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ssmPenaltiesPaymentDate">SSM Penalties Payment Date</label>
                                <div class="input-group">
                                    <input type="text" id="ssmPenaltiesPaymentDate" name="ssmPenaltiesPaymentDate" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ssmDocSentDate">SSM Doc Sent Date</label>
                                <div class="input-group">
                                    <input type="text" id="ssmDocSentDate" name="ssmDocSentDate" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ssmSubmissionDate">SSM Submission Date</label>
                                <div class="input-group">
                                    <input type="text" id="ssmSubmissionDate" name="ssmSubmissionDate" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="remarks">Remarks</label>
                                <textarea id="remarks" name="remarks" class="form-control" rows="3" placeholder="Enter remarks"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times me-2"></i>Cancel
                </button>
                <button type="button" class="btn btn-primary" id="saveBtn">
                    <i class="fas fa-save me-2"></i>Save
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DatatablesScriptsPartial" />

    <script src="~/js/secertary/strike-off-template.js" asp-append-version="true"></script>
}