@using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Commons.Helpers
@using SWSA.MvcPortal.Models.ScheduledJobs
@model ScheduledJobVM

@{
    var jobTypes = SelectHelper.GetEnumSelectList<ScheduledJobType>(Model.JobType);
    var scheduledType = SelectHelper.GetEnumSelectList<ScheduleType>(Model.ScheduleType);
    var dayOfWeek = SelectHelper.GetEnumSelectList<DayOfWeek>(Model.CronFields.DayOfWeek);
    var enableDisableSelection = SelectHelper.GetEnableDisabledSelection(Model.IsEnabled);
}

<form id="jobTriggerSettingForm">
    <!-- jquery validation -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Job Trigger Settings</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>

        <!-- /.card-header -->
        <!-- form start -->
        <div class="card-body row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="jobKey">Job Key</label>
                    <input readonly value="@Model.JobKey" id="jobKey" name="jobKey" class="form-control" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="jobType">Job Type</label>
                    <select disabled id="jobType" name="jobType" class="form-control select2">
                        @Html.RenderOptions(jobTypes)
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="scheduleType">
                        Schedule Type
                        <a href='https://crontab.guru' target='_blank' style="color:#000">
                            <i class="fas fa-info-circle"
                               data-bs-toggle="tooltip"
                               data-bs-placement="top"
                               data-bs-html="true"
                               title="<ul class='mb-1'>
                                        <li><b>Once</b>: Only triggers one time</li>
                                        <li><b>Daily</b>: Triggers every day</li>
                                        <li><b>Weekly</b>: Triggers on specified weekday(s)</li>
                                        <li><b>Monthly</b>: Triggers on specified date(s)</li>
                                        <li><b>Cron</b>: Custom expression (advanced users only)
                                          <br/><small class='text-warning'>Use only if you know cron syntax.</small>
                                          <br/><strong> Click to know more</strong>
                                        </li>
                                      </ul>">
                              </i>
                        </a>
                    </label>
                    <select id="scheduleType" name="scheduleType" class="form-control select2">
                        @Html.RenderOptions(scheduledType)
                    </select>
                </div>
            </div>

            <div id="weekPickerContainer" class="col-md-4" style="display:@(Model.ScheduleType==ScheduleType.Weekly?"block":"none")">

                <div class="form-group">
                    <label for="weekPicker">Week day</label>
                    <select id="weekPicker" name="weekPicker" class="form-control select2">
                        @Html.RenderOptions(dayOfWeek)
                    </select>
                </div>
            </div>

            <div id="datePickerContainer" class="col-md-4" style="display:@(Model.ScheduleType==ScheduleType.Monthly?"block":"none")">
                <div class="form-group">
                    <label for="datePicker">Date</label>
                    <div class="input-group">
                        <input type="text" value="" value="@Model.CronFields.DayOfMonth" id="datePicker" name="datePicker" class="form-control" placeholder="Select date time" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="timePickerContainer" class="col-md-4" style="display:@(Model.ScheduleType!=ScheduleType.Once?"block":"none")">
                <div class="form-group">
                    <label for="timePicker">Time</label>
                    <div class="input-group">
                        <input type="text" value="@Model.CronFields.Time" id="timePicker" name="timePicker" class="form-control" placeholder="Select date time" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="dateTimePickerContainer" class="col-md-6" style="display:@(Model.ScheduleType==ScheduleType.Once?"block":"none")">
                <div class="form-group">
                    <label for="dateTimePicker">Trigger At</label>
                    <div class="input-group">
                        <input type="text" value="@Model.TriggerTime.ToFormattedString(DateTimeFormatType.DateTime24H)" id="dateTimePicker" name="dateTimePicker" class="form-control" placeholder="Select date time" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cronInputContainer" class="col-md-6" style="display:@(Model.ScheduleType==ScheduleType.Cron?"block":"none")">
                <div class="form-group">
                    <label for="cronExpression">Job Key</label>
                    <input value="@Model.CronExpression" id="cronExpression" name="cronExpression" class="form-control" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="isEnabled">
                        Status
                        <i class="fas fa-info-circle ms-1"
                           data-bs-toggle="tooltip"
                           data-bs-placement="top"
                           title="If disabled, the schedule will be saved but not executed.">
                        </i>
                    </label>
                    <select id="isEnabled" name="isEnabled" class="form-control select2">
                        @Html.RenderOptions(enableDisableSelection)
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Last Execute At
                    </label>
                    <input readonly value="@Model.LastExecuteAt.ToFormattedString(DateTimeFormatType.DateTime24H)" class="form-control" />

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Created By
                    </label>
                    <input readonly value="@Model.CreatedBy" class="form-control" />

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Created At
                    </label>
                    <input readonly value="@Model.CreatedAt.ToFormattedString(DateTimeFormatType.DateTime24H)" class="form-control" />

                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>
                        Last update at
                    </label>
                    <input readonly value="@Model.UpdatedAt.ToFormattedString(DateTimeFormatType.DateTime24H)" class="form-control" />

                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group float-end" role="group">
                <!-- Trigger Now -->
                <button type="submit" name="action" value="trigger" class="btn btn-danger me-2"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Immediately execute the task, ignoring the schedule">
                    <i class="fa fa-bolt"></i> Execute Now
                </button>

                <!-- Schedule Only -->
                <button type="submit" name="action" value="schedule" class="btn btn-primary me-2"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Schedule the task based on selected date and time">
                    <i class="fa fa-calendar"></i> Schedule Only
                </button>

                <!-- Schedule + Trigger -->
                <button type="submit" name="action" value="schedule_trigger" class="btn btn-success"
                        data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Schedule the task and execute it immediately">
                    <i class="fa fa-play-circle"></i> Schedule & Execute
                </button>
            </div>
        </div>
    </div>
</form>
<!-- /.card -->
<!--If initial component at view, please add script at the
<script src="~/js/components/schedule-job-update.js" asp-append-version="true"></script>
-->
