@using SWSA.MvcPortal.Commons.Extensions
@* @model List<AuditSubmissionVM>
 *@@{
	ViewData["Title"] = "Audit Repot Submission List";
}


<h3> Audit Report List</h3>

<div class="row">
	<div class="col-md-12">
		<!-- /.card -->
		<div class="card">
			<!-- /.card-header -->
			<div class="card-body">
				<table id="companyDatatable" class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>Action</th>
							<th>Year</th>
							<th>Company Name</th>
							<th>Registration Number</th>
							<th>Incorporation Date</th>
							<th>Year End Month</th>
							<th>First Year Account Start Date</th>
							<th>Account Due Date</th>
							<th>Date Submitted</th>
							<th>Targeted Circulation (Month/Year)</th>
							<th>On Time / Late Submission</th>
							<th>Reason For Late Submission</th>
						</tr>
					</thead>
					<tbody>
					@* 	@foreach (var cp in Model)
						{
							var cpInfo = cp.CompanySimpleInfo;
							<tr>
								<td>
									<div class="btn-group" role="group">
										<a href="/secretary-dept/submissions/audit-report/@cp.SubmissionId/edit" class="btn btn-sm btn-warning mr-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
											<i class="fa fa-edit"></i>
										</a>
									</div>
								</td>
								<td>@cp.DisplayYearLabel</td>
								<td>@cpInfo.CompanyName</td>
								<td>@cpInfo.RegistrationNumber</td>
								<td>@cpInfo.IncorporationDate?.ToFormattedString()</td>
								<td>@cpInfo.YearEndMonth?.GetDisplayName()</td>
								<td>@cp.FirstYearAccountStart?.ToFormattedString()</td>
								<td>@cp.AccDueDate?.ToFormattedString()</td>
								<td>@cp.TargetedCirculation?.ToFormattedString()</td>
								<td>@cp.DateSubmitted?.ToFormattedString()</td>
								<td>@cp.GetIsLateDisplyLabel()</td>
								<td>@cp.ReasonForLate</td>
							</tr>
						} *@
					</tbody>
					<tfoot>
						<tr>
							<th>Action</th>
							<th>Company Name</th>
							<th>Registration Number</th>
							<th>Incorporation Date</th>
							<th>Year End Month</th>
							<th>First Year Account Start Date</th>
							<th>Account Due Date</th>
							<th>Date Submitted</th>
							<th>Targeted Circulation (Month/Year)</th>
							<th>On Time / Late Submission</th>
							<th>Reason For Late Submission</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

@section Scripts {
	<partial name="_DatatablesScriptsPartial" />
	<script src="~/js/secertary/list-submission.js" asp-append-version="true"></script>
}
