@using SWSA.MvcPortal.Commons.Extensions

@{
	ViewData["Title"] = "LLP Submission List";
}

<h3> LLP Suibmission List</h3>

<div class="row">
	<div class="col-md-12">
		<!-- /.card -->
		<div class="card">
			<!-- /.card-header -->
			<div class="card-body">
				<table id="companyDatatable" class="table table-bordered table-striped table-responsive">
					<thead>
						<tr>
							<th>Action</th>
							<th>Year</th>
							<th>Company Name</th>
							<th>Registration Number</th>
							<th>Incorporation Date</th>
							<th>Year End Month</th>
							<th>Company Status (Task)</th>
							<th>Activity/Size (Task)</th>
							<th>SSM Extension Date For Account</th>
							<th>Annual Return Due Date</th>
							<th>Account Submit Date</th>
							<th>Annual Return Submit Date</th>
							<th>Date Send to Client</th>
							<th>Date Returned</th>
						</tr>
					</thead>
					<tbody>
						@* @foreach (var cp in Model)
						{
							var cpInfo = cp.CompanySimpleInfo;
							<tr>
								<td>
									<div class="btn-group" role="group">
										<a href="/secretary-dept/submissions/llp/@cp.SubmissionId/edit" class="btn btn-sm btn-warning mr-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
											<i class="fa fa-edit"></i>
										</a>
									</div>
								</td>
								<td>@cp.DisplayYearLabel</td>
								<td>@cpInfo.CompanyName</td>
								<td>@cpInfo.RegistrationNumber</td>
								<td>@cpInfo.IncorporationDate?.ToFormattedString()</td>
								<td>@cpInfo.YearEndMonth?.GetDisplayName()</td>
								<td>@cp.CompanyStatus.GetDisplayName()</td>
								<td>@cp.CompanyActivityLevel.GetDisplayName()</td>
								<td>@cp.SSMExtensionDateForAcc?.ToFormattedString()</td>
								<td>@cp.ARDueDate?.ToFormattedString()</td>
								<td>@cp.AccountSubmitDate?.ToFormattedString()</td>
								<td>@cp.ARSubmitDate?.ToFormattedString()</td>
								<td>@cp.DateSentToClient?.ToFormattedString()</td>
								<td>@cp.DateReturnedByClient?.ToFormattedString()</td>

							</tr>
						} *@
					</tbody>
					<tfoot>
						<tr>
							<th>Action</th>
							<th>Company Name</th>
							<th>Registration Number</th>
							<th>Incorporation Date</th>
							<th>Year End Month</th>
							<th>Company Status (Task)</th>
							<th>Activity/Size (Task)</th>
							<th>SSM Extension Date For Account</th>
							<th>Annual Return Due Date</th>
							<th>Account Submit Date</th>
							<th>Annual Return Submit Date</th>
							<th>Date Send to Client</th>
							<th>Date Returned</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

@section Scripts {
	<partial name="_DatatablesScriptsPartial" />
	<script src="~/js/secertary/list-submission.js" asp-append-version="true"></script>
}
