@* @model DocumentRecordCreatePageVM

@using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Commons.Helpers
@using SWSA.MvcPortal.Models.DocumentRecords
@using SWSA.MvcPortal.Services.Interfaces
@using SWSA.MvcPortal.Services.Interfaces.Auths
@inject IUserContext UserContext

@{
    ViewData["Title"] = "Create document record";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cp = Model.Company;
	var dpts = SelectHelper.GetDepartments(null);
    var flowType = SelectHelper.GetEnumSelectList<DocumentFlowType>(null!);
    var docType = SelectHelper.GetEnumSelectList<DocumentType>(null);
    var companyStatus = SelectHelper.GetEnumSelectList<CompanyStatus>(null);


    <input type="hidden" id="companyId" value="@cp.Id" />
    <input type="hidden" id="companyName" value="@cp.Name" />
}

<h3>Create New Document Record</h3>

<div class="row">
    <div class="col-md-12">
        <form>
            <!-- jquery validation -->
            <div class="card card-primary">
                <div class="card-header">
                    <a href="/companies/@cp.Id/overview">
                        <h3 class="card-title">
                            Company Info

                        </h3>
                    </a>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyName">Company</label>
                            <input readonly value="@($"{cp.Name} ({cp.RegistrationNumber})")" class="form-control " placeholder="xxx sdn.bhd." />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="incorpDate">Incorporation Date</label>
                            <div class="input-group">
                                <input disabled type="text" value="@cp.IncorporationDate?.ToString("yyyy-MM-dd")" id="incorpDate" name="incorpDate" class="form-control" placeholder="Select date" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyType">Company Type</label>
                            <input readonly id="companyType" value="@cp.CompanyType.GetDisplayName()" class="form-control " />
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <!-- /.card -->
    </div>

    <div class="col-md-12">
        <!-- jquery validation -->
        <form id="documentForm">
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Documents</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body" style="display:block">

                    <table id="documentTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Department</th>
                                <th>Document Date</th>
                                <th>Flow Type</th>
                                <th>Bag / Box Count</th>
                                <th>Handled By</th>
                                <th>Remark</th>
                                <th>Attachment File</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="divider-line"></div>
                    <div class="row">

                        <!-- Company Department -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="companyDepartmentId">Document for department</label>
                                <select asp-items="dpts" id="companyDepartmentId" name="companyDepartmentId" class="form-control select2 ">

                                </select>
                            </div>
                        </div>
                        <!-- Document Date -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="documentDate">Document Date</label>
                                <div class="input-group">
                                    <input type="text" id="documentDate" name="documentDate" class="form-control" placeholder="Select date" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Flow Type -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="flowType">Flow Type</label>
                                <select asp-items="flowType" id="flowType" name="flowType" class="form-control select2">
                                </select>
                            </div>
                        </div>

                        <!-- Flow Type -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="docType">Document Type</label>
                                <select asp-items="docType" id="docType" name="docType" class="form-control select2">
                                </select>
                            </div>
                        </div>

                        <!-- Bag or Box Count -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="bagOrBoxCount">Bag / Box Count</label>
                                <input type="number" id="bagOrBoxCount" name="bagOrBoxCount" class="form-control" placeholder="e.g. 2" min="0" />
                            </div>
                        </div>

                        <!-- Handled By Staff -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="handledByStaffId">Handled By</label>
                                <select id="handledByStaffId" name="handledByStaffId" class="form-control select2 ">
                                    <option disabled value="">Please select</option>
                                    @foreach (var staff in Model.StaffSelections)
                                    {
                                        @if (staff.StaffId == UserContext.StaffId)
                                        {
                                            <option value="@staff.StaffId">@staff.FullName (You)</option>
                                        }
                                        else
                                        {
                                            <option value="@staff.StaffId">@staff.FullName</option>
                                        }
                                    })
                                </select>
                            </div>
                        </div>
                        <!-- Remark -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="remark">Remark</label>
                                <input type="text" id="remark" name="remark" class="form-control" placeholder="(Optional)" />
                            </div>
                        </div>

                        <!-- Attachment File Name -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="attachment">Attachment File</label>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="attachmentFile" name="attachmentFile">
                                    <label class="custom-file-label" for="attachmentFile">Choose file</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="attachmentFileName">Attachment Name (Customize Name)</label>
                                <input type="text" id="attachmentFileName" name="attachmentFileName" class="form-control" placeholder="(Optional)" />
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-end">Add</button>
                </div>

                <!-- /.card -->
            </div>
        </form>
    </div>

    <div class="col-md-12">
        <!-- /.card-body -->
        <div class="float-end">
            <button id="btnSubmitRequest" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DatatablesScriptsPartial" />


    <script src="~/js/documents/create-document.js" asp-append-version="true"></script>
    <!-- date-range-picker -->
    }
 *@