@* @using SWSA.MvcPortal.Commons.Constants
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Entities
@using SWSA.MvcPortal.Models.Companies
@model List<Company>
@{
	ViewData["Title"] = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var companyType = ViewData["company-type"]?.ToString() ?? "";
}
<h3> @companyType List</h3>

<div class="row">
	<div class="col-md-12">
		<!-- /.card -->
		<div class="card">
			<!-- /.card-header -->
			<div class="card-body">
				<table id="companyDatatable" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Registration Number</th>
							<th>Year End Month</th>
							<th>Incorporation Date</th>
							<th>Director Name</th>
							<th>Contacts Count</th>
							<th>MsicCodes Count</th>
							<th>Work/Task Count</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var cp in Model)
						{
							<tr>
								<td>@cp.Name</td>
								<td>@cp.RegistrationNumber</td>
								<td>@cp.YearEndMonth</td>
								<td>@(cp.IncorporationDate?.ToString("yyyy-MM-dd") ?? AppSettings.NotAvailable)</td>
								<td>@cp.GetDirectorName()</td>
								<td>@cp.GetContactCount()</td>
								<td>@cp.MsicCodes.Count</td>
								<td>@cp.WorkAssignments.Count</td>
								<td>
									<div class="btn-group" role="group">
										<a href="/companies/@cp.Id/overview" class="btn btn-sm btn-info mr-2" title="View">
											<i class="fa fa-eye"></i>
										</a>
										<a href="/companies/@cp.Id/edit" class="btn btn-sm btn-warning mr-2" title="Edit">
											<i class="fa fa-edit"></i>
										</a>
										<button type="button" class="btn btn-sm btn-danger btn-delete" data-id="@cp.Id" data-name="@cp.Name" title="Delete">
											<i class="fa fa-trash"></i>
										</button>
									</div>
								</td>

							</tr>
						}
					</tbody>
					<tfoot>
						<tr>
							<th>Name</th>
							<th>Registration Number</th>
							<th>Year End Month</th>
							<th>Incorporation Date</th>
							<th>Director Name</th>
							<th>Contacts Count</th>
							<th>MsicCodes Count</th>
							<th>Work/Task Count</th>
							<th>Action</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

@section Scripts {
	<partial name="_DatatablesScriptsPartial" />
	<script src="~/js/companies/list-company.js" asp-append-version="true"></script>
} *@