@using SWSA.MvcPortal.Commons.Enums
@using SWSA.MvcPortal.Commons.Extensions
@model SWSA.MvcPortal.Entities.Company

@{
	ViewData["Title"] = "Overview";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var msicCodes = Model.MsicCodes.ToList();
	var workAssignments = Model.WorkAssignments
		.ToList();
}

<h3> @Model.Name Profile</h3>

<div class="row">
	<div class="col-md-12">
		<form id="handleUserForm">
			<!-- jquery validation -->
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Handle Users Info</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>

				<!-- /.card-header -->
				<!-- form start -->
				<div class="card-body">
					<table id="handleUserTable" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>User</th>
								<th>Departments</th>
							</tr>
						</thead>
						<tbody>
							@{
								var userDepartments = Model.UserCompanyDepartments
								.GroupBy(ucd => ucd.UserId)
								.Select(g => new
								{
									User = g.First().User,
									Departments = g.Select(x => x.Department).Distinct().ToList()
								})
								.ToHashSet();
								foreach (var user in userDepartments)
								{
									<tr>
										<td>
											<a href="/users/@user.User.StaffId/overview">@user.User.FullName (@user.User.Role.GetDisplayName())</a>
										</td>
										<td>
											@string.Join(", ", user.Departments)
										</td>
									</tr>
								}
							}
						</tbody>
					</table>
				</div>

			</div>
		</form>
		<!-- /.card -->
	</div>

	<div class="col-md-12">
		<form id="companyForm">
			<!-- jquery validation -->
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Company Info</h3>

					<div class="card-tools">


						<a href="/companies/@Model.Id/edit" class="btn btn-success mr-10">
							To Edit page
						</a>

						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-minus"></i>
						</button>
					</div>
				</div>

				<!-- /.card-header -->
				<!-- form start -->
				<div class="card-body row">

					<div class="col-md-6">
						<div class="form-group">
							<label for="companyName">Company Name*</label>
							<input readonly id="companyName" name="companyName" value="@Model.Name" class="form-control " placeholder="xxx sdn.bhd." />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="regisNumber">Registration Number</label>
							<input readonly id="regisNumber" name="regisNumber" value="@Model.RegistrationNumber" class="form-control " placeholder="2025041153513" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="eNumber">Employer Number (E Number)</label>
							<input readonly id="eNumber" name="eNumber" value="@Model.EmployerNumber" class="form-control" placeholder="12-3456789" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="tinNumber">Tax Identification Number (TIN)</label>
							<input readonly id="tinNumber" name="tinNumber" value="@Model.TaxIdentificationNumber" class="form-control " placeholder="E 16164351 / C 16513513" />
						</div>
					</div>


					<div class="col-md-6">
						<div class="form-group">
							<label for="companyType">Company Type</label>
							<input readonly value="@Model.CompanyType.GetDisplayName()" class="form-control" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="companyStatus">Company Status</label>
							<input readonly value="@Model.CompanyStatus.GetDisplayName()" class="form-control" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="companyActivityLevel">Company Activity Level</label>
							<input readonly value="@Model.CompanyActivityLevel.GetDisplayName()" class="form-control" />
						</div>
					</div>

				@* 	@if (Model.StrikeOffStatus != StrikeOffStatus.NotApplied)
					{
						<div class="form-info-label col-12">
							<label>Strike Off Status</label>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="StrikeOffStatus">Strike Off Status</label>
								<input readonly value="@Model.StrikeOffStatus.GetDisplayName()" class="form-control" />
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="StrikeOffEffectiveDate">Effective Date</label>
								<input readonly value="@Model.StrikeOffEffectiveDate.ToFormattedString()" class="form-control" />
							</div>
						</div>
					} *@

					<div class="col-md-12">
						<label for="msicCodes">Msic Codes</label>

						<table id="msicDataTable" class="table table-bordered table-hover">
							<thead>
								<tr>
									<th>No</th>
									<th>Code</th>
									<th>Description</th>
								</tr>
							</thead>
							<tbody>
								@for (int i = 0; i < Model.MsicCodes.Count; i++)
								{
									<tr>
										<td>@(i + 1)</td>
										<td>@msicCodes[i].MsicCode.Code</td>
										<td>@msicCodes[i].MsicCode.Description</td>
									</tr>
								}

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- /.card -->
		</form>
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<form id="complianceDateForm">
			<div class="card card-secondary  collapsed-card">
				<div class="card-header">
					<h3 class="card-title">
						SSM Compliance Date
					</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse">
							<i class="fas fa-plus"></i>
						</button>
					</div>
				</div>
				<!-- /.card-header -->
				<div class="card-body" style="display:none">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="incorpDate">Incorporation Date</label>
								<div class="input-group">
									<input readonly type="date" id="incorpDate" value="@Model.IncorporationDate?.ToString("yyyy-MM-dd")" name="incorpDate" class="form-control" placeholder="Select date" />
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="yearEndMonth">Year End Month</label>
								<div class="input-group">
									<input readonly type="text" id="yearEndMonth" value="@Model.YearEndMonth?.GetDisplayNameAndNumber()" name="yearEndMonth" class="form-control" placeholder="Select month" />
									<div class="input-group-append">
										<span class="input-group-text">
											<i class="fa fa-calendar"></i>
										</span>
									</div>
								</div>
							</div>
						</div>

						<div class="form-info-label col-12">
							<label>Audit Report</label>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="firstYearAccountStart">First Year Account Start</label>
								<div class="input-group">
									<input readonly value="@Model.ComplianceDate?.FirstYearAccountStart?.ToString("yyyy-MM-dd")" type="text" id="firstYearAccountStart" name="firstYearAccountStart" class="form-control" placeholder="(Optional)" />
									<div class="input-group-append">
										<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="agmDate">AGM Date</label>
								<div class="input-group">
									<input readonly value="@Model.ComplianceDate?.AGMDate?.ToString("yyyy-MM-dd")" type="text" id="agmDate" name="agmDate" class="form-control" placeholder="(Optional)" />
									<div class="input-group-append">
										<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="accountDueDate">Account Due Date</label>
								<div class="input-group">
									<input readonly value="@Model.ComplianceDate?.AccountDueDate?.ToString("yyyy-MM-dd")" type="text" id="accountDueDate" name="accountDueDate" class="form-control" placeholder="(Optional)" />
									<div class="input-group-append">
										<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>

						<div class="form-info-label col-12">
							<label>Annual Return</label>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="anniversaryDate">Anniversary Date</label>
								<div class="input-group">
									<input readonly value="@Model.ComplianceDate?.AccountDueDate?.ToString("yyyy-MM-dd")" type="text" id="anniversaryDate" name="anniversaryDate" class="form-control" placeholder="(Optional)" />
									<div class="input-group-append">
										<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="annualReturnDueDate">Annual Return Due Date</label>
								<div class="input-group">
									<input readonly value="@Model.ComplianceDate?.AnniversaryDate?.ToString("yyyy-MM-dd")" type="text" id="annualReturnDueDate" name="annualReturnDueDate" class="form-control" placeholder="(Optional)" />
									<div class="input-group-append">
										<span class="input-group-text"><i class="fa fa-calendar"></i></span>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="notes">Notes</label>
								<input readonly value="@Model.ComplianceDate?.Notes" id="notes" name="notes" class="form-control" placeholder="(Optional)" />
							</div>
						</div>
					</div>
				</div>
				<!-- /.card -->
			</div>
		</form>
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<div class="card card-secondary  collapsed-card">
			<div class="card-header">
				<h3 class="card-title">Director / Owner</h3>
				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<!-- form start -->

			<div class="card-body " style="display:none">

				<table id="ownerTable" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>IC or Passport</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Position</th>
							<th>Ownership</th>
							<th>Tax Refer</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var owner in Model.Owners)
						{
							<tr>
								<td>@owner.NamePerIC</td>
								<td>@owner.ICOrPassportNumber</td>
								<td>@owner.Email</td>
								<td>@owner.PhoneNumber</td>
								<td>@owner.Position.GetDisplayName()</td>
								<td>@owner.OwnershipType.GetDisplayName()</td>
								<td>@owner.TaxReferenceNumber</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
			<!-- /.card -->
		</div>
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<div class="card card-secondary  collapsed-card">
			<div class="card-header">
				<h3 class="card-title">Officials Contacts</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<!-- form start -->

			<div class="card-body" style="display:none">
				<table id="officialContactTable" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Address</th>
							<th>Official Tel</th>
							<th>Email</th>
							<th>Remark</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var officalCt in Model.OfficialContacts)
						{
							<tr>
								<td>@officalCt.Address</td>
								<td>@officalCt.OfficeTel</td>
								<td>@officalCt.Email</td>
								<td>@officalCt.Remark</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
		<!-- /.card -->
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<div class="card card-secondary  collapsed-card">
			<div class="card-header">
				<h3 class="card-title"> Communication Contacts</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<!-- form start -->

			<div class="card-body" style="display:none">
				<table id="communicationContactTable" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Contact Name</th>
							<th>Whatsapp</th>
							<th>Email</th>
							<th>Position</th>
							<th>Remark</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var cmContact in Model.CommunicationContacts)
						{
							<tr>
								<td>@cmContact.ContactName</td>
								<td>@cmContact.WhatsApp</td>
								<td>@cmContact.Email</td>
								<td>@cmContact.Position</td>
								<td>@cmContact.Remark</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
		<!-- /.card -->
	</div>

	<div class="col-md-12">
		<!-- jquery validation -->
		<div class="card card-secondary  collapsed-card">
			<div class="card-header">
				<h3 class="card-title"> Work Tasks</h3>

				<div class="card-tools">
					<button type="button" class="btn btn-tool" data-card-widget="collapse">
						<i class="fas fa-plus"></i>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<!-- form start -->

			<div class="card-body" style="display:none">
				<table id="workDatatable" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Year</th>
							<th>Work Type</th>
							<th>Service Offer</th>
							<th>Company Status </th>
							<th>Activity Size </th>
							<th>Assigned Users</th>
							<th>Internal Note</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var task in workAssignments)
						{
							var assignedUsers = task.AssignedUsers.ToList();
							<tr>
								<td>
									-
								</td>
								<td>
									@task.WorkType.GetDisplayName()
								</td>
								<td>@task.ServiceScope.GetDisplayName()</td>
								<td>@task.CompanyStatus.GetDisplayName()</td>
								<td>@task.CompanyActivityLevel.GetDisplayName()</td>
								<td>
									<div>
										@for (var i = 0; i < assignedUsers.Count; i++)
										{
											var user = assignedUsers[i].User;
											var isLast = i == assignedUsers.Count - 1;
											<span class="mr-1">
												<a href="/users/@user.StaffId/overview">
													@user.FullName

												</a>
											</span>
											@(isLast ? "" : ", ")
										}
									</div>
								</td>
								<td>@task.InternalNote</td>
								<td>@task.Progress?.Status.GetDisplayName()</td>
								<td>
									<div class="btn-group" role="group">
										<a href="/companies/works/@task.Id/overview" class="btn btn-sm btn-info mr-2" title="View">
											<i class="fa fa-eye"></i>
										</a>
										<a href="/companies/works/@task.Id/edit" class="btn btn-sm btn-warning mr-2" title="Edit">
											<i class="fa fa-edit"></i>
										</a>

										<button type="button" class="btn btn-sm btn-danger btn-delete" data-id="@task.Id" data-name="@($"Task {task.WorkType.GetDisplayName()} for {Model.Name}")" title="Delete">
											<i class="fa fa-trash"></i>
										</button>

									</div>
								</td>

							</tr>
						}

					</tbody>
					<tfoot>
						<tr>
							<th>Year</th>
							<th>Work Type</th>
							<th>Service Offer</th>
							<th>Company Status </th>
							<th>Activity Size </th>
							<th>Assigned Users</th>
							<th>Internal Note</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<!-- /.card -->
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<partial name="_DatatablesScriptsPartial" />

	<script src="~/js/companies/overview-company.js" asp-append-version="true"></script>
	<!-- date-range-picker -->
    }
