@using SWSA.MvcPortal.Commons.Constants
@using SWSA.MvcPortal.Commons.Extensions
@using SWSA.MvcPortal.Commons.Helpers
@model SWSA.MvcPortal.Models.Users.UserOverviewVM

@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var yesNo = SelectHelper.GetYesNoSelection(Model.IsActive);
    var assignedTask = Model.AssignedWorks;
}
<h3>User Overview</h3>

<div class="row">
    <div class="col-md-12">
        <form>
            <!-- jquery validation -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">User Info</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Staff Id</label>
                            <input readonly class="form-control" value="@Model.StaffId" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Username</label>
                            <input readonly class="form-control" value="@Model.Username" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>User Role</label>
                            <input readonly class="form-control" value="@Model.Role.GetDisplayName()" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input readonly class="form-control" value="@Model.FullName" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input readonly class="form-control" value="@Model.PhoneNumber" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input readonly class="form-control" value="@Model.Email" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="IsActive">Is Active</label>
                            <select disabled asp-items="yesNo" class="form-control select2"></select>

                        </div>
                    </div>
                </div>

            </div>
        </form>
        <!-- /.card -->
    </div>


</div>


@section Scripts {
    <partial name="_DatatablesScriptsPartial" />
    <script src="~/js/users/overview.js" asp-append-version="true"></script>
}