@using SWSA.MvcPortal.Commons.Constants
@using SWSA.MvcPortal.Commons.Helpers
@using SWSA.MvcPortal.Entities
@using SWSA.MvcPortal.Models.CompanyStaffs
@model CompanyStaffVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var cp = Model.Company;


    var staffPosition = SelectHelper.GetStaffPositionTypes(Model.Position);
    var isLoginEnable = SelectHelper.GetYesNoSelection(Model.IsLoginEnabled);

    if (Model.HasPassword)
    {
        <input id="hasPassword" name="hasPassword" value="true" type="hidden" />
    }
    <input id="companyId" name="companyId" value="@cp.Id" type="hidden" />

}


<h3>Staff Profile : @Model.ContactName</h3>
<div class="row">
    <div class="col-md-12">
        <form>
            <!-- jquery validation -->
            <div class="card card-primary">
                <div class="card-header">
                    <a href="/companies/@cp.Id/overview">
                        <h3 class="card-title">
                            Company Info

                        </h3>
                    </a>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>

                <!-- /.card-header -->
                <!-- form start -->
                <div class="card-body row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyName">Company</label>
                            <input readonly value="@($"{cp.Name} ({cp.RegistrationNumber})")" class="form-control " placeholder="xxx sdn.bhd." />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="incorpDate">Incorporation Date</label>
                            <div class="input-group">
                                <input disabled type="text" value="@cp.IncorporationDate?.ToString("yyyy-MM-dd")" id="incorpDate" name="incorpDate" class="form-control" placeholder="Select date" />
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyType">Company Type</label>
                            <input readonly id="companyType" value="@cp.CompanyType.Name" class="form-control " />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="companyStatus">Company Status</label>
                            <input readonly id="companyStatus" value="@cp.Status" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <!-- /.card -->
    </div>


    <div class="col-md-12">
        <form id="staffContactForm">
            <!-- jquery validation -->
            <div class="card card-secondary ">
                <div class="card-header">
                    <h3 class="card-title">Staff Info</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body " style="display:block">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="staffId">Staff Id</label>
                                <input readonly id="staffId" name="staffId" value="@Model.StaffId" class="form-control " placeholder="John Dee" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="staffName">Contact Name</label>
                                <input id="staffName" name="staffName" value="@Model.ContactName" class="form-control " placeholder="John Dee" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="staffWhatsapp">WhatsApp</label>
                                <input id="staffWhatsapp" name="staffWhatsapp" value="@Model.WhatsApp" class="form-control " placeholder="+605xxxxxxxx" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="staffEmail">Email</label>
                                <input type="email" id="staffEmail" name="staffEmail" value="@Model.Email" class="form-control " placeholder="xxx@gmail.com" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="departmentId">Department</label>
                                <select id="departmentId" name="departmentId" class="form-control select2">
                                    <option disabled selected value="">Please select</option>
                                    @if (cp.Departments.Count == 0)
                                    {
                                        <option selected disabled value="">No department available</option>
                                    }

                                    @foreach (var dp in cp.Departments)
                                    {
                                        @if (dp.IsActive)
                                        {
                                            if (dp.Id == Model.CompanyDepartmentId)
                                            {
                                                <option selected value="@dp.DepartmentId">@dp.Department?.Name</option>
                                            }
                                            else
                                            {
                                                <option value="@dp.DepartmentId">@dp.Department?.Name</option>
                                            }
                                        }
                                    }

                                </select>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="staffPosition">Position</label>
                                <select asp-items="@staffPosition" id="staffPosition" name="staffPosition" class="form-control select2">  </select>
                            </div>
                        </div>



                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="staffRemark">Remark</label>
                                <input id="staffRemark" name="staffRemark" value="@Model.Remark" class="form-control " placeholder="(Optional)" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-end">Save</button>
                </div>

            </div>
            <!-- /.card -->
        </form>
    </div>

    <div class="col-md-12">
        <form id="staffLoginProfile">
            <!-- jquery validation -->
            <div class="card card-secondary ">
                <div class="card-header">
                    <h3 class="card-title">Staff Login Profile</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.card-header -->
                <!-- form start -->

                <div class="card-body " style="display:block">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="enableLogin">Is Login Enable</label>
                                <select asp-items="@isLoginEnable" id="enableLogin" name="enableLogin" class="form-control select2">  </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="username">
                                    Username
                                    <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Use for login."></i>
                                </label>
                                <input @(Model.IsLoginEnabled ? "" : "disabled") id="username" name="username" value="@Model.Username" class="form-control " placeholder="John Dee" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Password">
                                    Password
                                    <i class="fas fa-info-circle" data-bs-toggle="tooltip" data-bs-placement="top" title="Password is required if didn't set before."></i>

                                </label>
                                <input @(Model.IsLoginEnabled ? "" : "disabled") type="password" id="Password" name="password" value="@(Model.HasPassword?AppSettings.DisplayPassword:"")" class="form-control" placeholder="Enter password" />
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="RePassword">Re-enter Password</label>
                                <input @(Model.IsLoginEnabled ? "" : "disabled") type="password" id="RePassword" name="rePassword" class="form-control" placeholder="Re-enter password" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-end">Save</button>
                </div>

            </div>
            <!-- /.card -->
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="~/js/companies/edit-staff.js" asp-append-version="true"></script>
    <!-- date-range-picker -->
    }
